
<div class="border">
1週間以内に未復習のメモ
</div>

<div class="contents">
  <% @notes.each do |note| %>
    <%if Time.current - note.updated_at > 604800 && Time.current - note.created_at < 604800*4 %>
      <%= render partial: "note", locals: { note: note } %>
    <% else %>
      <p>you have nothing to memorize</br>復習後1週間経過したら表示されます</p>
      <% break %>
    <% end %>
  <% end %>
</div>

<div class="border">
24時間以内に未復習のメモ
</div>

<div class="contents">
  <% @notes.each do |note| %>
    <%if Time.current - note.updated_at > 86400 && Time.current - note.created_at < 604800*4 %>
      <%= render partial: "note", locals: { note: note } %>
    <% else %>
      <p>you have nothing to memorize</br>復習後24時間経過したら表示されます</p>
      <% break %>
    <% end %>
  <% end %>
</div>

<div class="border">
   5時間以内に未復習のメモ
</div>


<div class="contents">
  <% @notes.each do |note| %>
    <%if Time.current - note.updated_at > 18000 && Time.current - note.created_at < 604800*4 %>
      <%= render partial: "note", locals: { note: note } %>
    <% end %>
  <% end %>
</div>

<div class="border">
   1時間以内に未復習のメモ
</div>

<div class="contents">
  <% @notes.each do |note| %>
    <%if Time.current - note.updated_at > 360 && Time.current - note.created_at < 604800*4 %>
      <%= render partial: "note", locals: { note: note } %>
    <% end %>
  <% end %>
</div>